<mat-toolbar color="primary">
  <span class="fill-remaining-space">Add Your Project</span>
</mat-toolbar>
&nbsp;&nbsp;&nbsp;
<div class="container" novalidate>
  <form class="form" [formGroup]="projectForm">
    <div class="col-6"></div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Project Code</mat-label>
      <input formControlName="projectCode" matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Project Name</mat-label>
      <input formControlName="projectName" matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Discription</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
      <mat-label>select Supervisors</mat-label>
      <mat-select placeholder="Select Your Idol" formControlName="supervisorID">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let yi of Supervisors" [value]="yi.id">
          {{ yi.firstName + "_" + yi.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <angular-file-uploader [config]="afuConfig"> </angular-file-uploader>
    <div class="btnlo">
      <button
        mat-raised-button
        color="primary"
        style="top: 7px; padding: 0.5em 13em"
        class="btn btn--action"
        (click)="onSubmit()"
        type="submit"
      >
        Get Started
      </button>
    </div>
  </form>
  &nbsp;&nbsp;&nbsp;
</div>
