<div class="containe">
  <a href="" target="_blank" class="icon-link">
    <img src="../../../assets/img/logo.png" /><img
      style="width: 130px"
      src="../../../assets/img/TEXT logo.png"
    />
  </a>
  <div class="form-containe">
    <div class="form sign-in">
      <h1>Sign</h1>
      <form [formGroup]="loginForm">
        <label>
          <span>User Name</span>

          <input formControlName="userName" type="text" />
          <small
            *ngIf="
              loginForm.controls['userName'].dirty &&
              loginForm.hasError('required', 'userName')
            "
            class="text-danger"
            >*user name is requerd</small
          >
        </label>
        <label>
          <span>Password</span>

          <input formControlName="password" [type]="type" />
          <span (click)="hideShowPass()" class="fa {{ eyeIcon }}"></span>
          <small
            *ngIf="
              loginForm.controls['password'].dirty &&
              loginForm.hasError('required', 'password')
            "
            class="text-danger"
            >*Password is requerd</small
          >
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button
          style="padding: 0.5em 7em"
          type="button"
          (click)="onLogin()"
          class="btn btn--action"
          type="submit"
        >
          Sign In
        </button>
      </form>
    </div>
  </div>
  <div class="image-containe">
    <div class="img">
      <div class="img__text">
        <h2>Hello,</h2>
        <p>
          Create Your Profile<br />
          and start journey with us.
        </p>
      </div>
      <div class="btnlo">
        <button
          style="top: 20px; left: 220px"
          routerLink="/signup"
          class="btn btn--ghost"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
